* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    color: purple;
}

.container {
    width: 100%;
    background-color: #414042;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.mb-3 {
    width: 100%;
}

.card-btn, #add-movie-btn {
    background-color: #000000;
    color: #FFFFFF;
    border: solid .5px #FFFFFF;
    width: 50%;
    height: 2em;
}

#add-movie-btn {
    width: 100%;
}

form {
    position: relative;
    background-color: #414042;
    color: #FFFFFF;
}

html, body, .card-body {
    background-color: #414042;
    color: #FFFFFF;
}

.text-background {
    width: 35%;
    background-color: #000000;
    opacity: .5%;
}