* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}

h1{
    color: #800080;
    font-family: cursive;
}

#cards-container {
    padding-left: 20%;
    margin: 0;
}

.mb-3 {
    width: 80%;
}

.card-btn, #add-movie-btn ,#update-movie-btn{
    background-color: #000000;
    color: goldenrod;
    border: solid .5px goldenrod;
    width: 50%;
    height: 2em;
    font-weight: bold;
}

#add-movie-btn,#update-movie-btn {
    width: 100%;
}
.form {
    position: fixed;
    top: 5%;
    left: 65%;
    width: 25%;
    color: goldenrod;
}

html, body, .card-body {
    background-color: #414042;
    color: #FFFFFF;
}

.invisible{
    display: none;
}

.row {
    background-color: #414042;
    width: 100%;
    transform: none;
}

.card-btn {
    display: inline-block;
}

#title {
    text-transform: capitalize;
}